.BotonAgregar{
    border: none;
    text-align: center;
    padding: 0 1.1rem 0 1.1rem;
    text-decoration: none;
    display: inline-block;
    font-size: 4rem;
    margin: 1rem;
    margin-top: 2rem;
    color: rgb(212, 210, 84);
    background: linear-gradient(140deg,
    #C29A23 40%, 
    #234E70 60%);
    border-radius: 50%;
    z-index: 1;
    align-self: flex-start;
}

.Volteando:active{
    position: relative;
    border: none;
    text-align: center;
    padding: 0 1.1rem 0 1.1rem;
    text-decoration: none;
    display: inline-block;
    font-size: 4rem;
    margin: 1rem;
    color: #C29A23;
    background-color: #234E70;
    border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference){
    .Volteando:active{
        animation: rotar infinite 0.5s linear;
    }
}

@keyframes rotar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}